.bg {
    background-color: rgb(164, 181, 164);
}

*, a {
    color: #fff;
}

h1,p {
    color: #000;
}

.login-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}